@charset "UTF-";

body {
    background: #778da9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e0e1dd;
    text-align: center;
}

header {

}

section {
    background-color: #e0e1dd;
    color: #666;
    border-radius: 15px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.349);
}

img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 20px;
}

footer {
    
}