@charset "UTF-";

body {
    background: #999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #222;
    text-align: center;
}

header {

}

section {
    background-color: #e0e1dd;
    color: #222;
    text-align: left;
    border-radius: 15px;
    padding: 10px 20px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.349);
}

img#foto {
    display: block;
    margin: auto;
    padding: 10px;
}