@charset "UTF-";

body {
    background: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: #ffb703;
}

header {
    text-align: center
}

section {
    background-color: #ffb703;
    color: #222;
    border-radius: 15px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.349);
}

footer {
    text-align: center
}