@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oswald:wght@500&display=swap');

body{
    background-color: #403d39;
    font-family: 'Inter', sans-serif;
    padding-left: 30px;
    padding-right: 40px;
}

h1#principal{ 
    /*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
    */
    color: #eb5e28;
    text-align: left;
    text-decoration: none;
}

h1{
    color: #ccc5b9;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    text-decoration: underline;
}

h2{
    color: #252422;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}

.basico{
    color: #BCB8B1;
}

.intermediario{
    color: #8A817C;
}

.avançado{
    color: #252422;
}

p{
    color: #ccc5b9;
    font-size: 0.8em;
    text-align: justify;
}

.destaque{
    background-color: #eb5e28;
    color: #ccc5b9;
}